.topo {
  background: #f28095 0% 0% no-repeat padding-box;
  border-bottom: 5px solid #d94169;
  padding: 1rem 0 1rem;
}

.topo p {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}

.introduction {
  background-color: #ffffff;
  color: #f28095;
  /* clip-path: ellipse(75% 100% at 50% 100%); */
}

.introduction h1 {
  font-size: clamp(20px, 4vw, 30px);
  line-height: clamp(24px, 4vw, 36px);
  text-transform: uppercase;
  padding: 1rem 0 1rem;
  color: #d94169;
}

.introduction .sub-title {
  text-transform: uppercase;
  font-size: clamp(20px, 4vw, 26px);
  line-height: clamp(24px, 4vw, 32px);
  color: #d94169;
}

.introduction .de-por {
  font-size: clamp(20px, 4vw, 24px);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.introduction .valor-antigo {
  color: #ff0000;
  font-weight: bold;
  text-decoration: line-through;
}

.introduction .valor-novo {
  color: #f28095;
  font-size: clamp(22px, 4vw, 42px);
  line-height: clamp(22px, 4vw, 42px);
  font-weight: bold;
  margin-bottom: 0;
}

/* SLIDER */

.slider {
  background: transparent
    linear-gradient(
      180deg,
      var(--unnamed-color-f28095) 0%,
      var(--unnamed-color-d94169) 100%
    )
    0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #f28095 0%, #d94169 100%) 0%
    0% no-repeat padding-box;
  padding: 2rem 0 2rem;
  height: 400px;
}

.slider h1 {
  color: #ffffff;
  text-transform: uppercase;
}

.container-slider {
  margin: 2rem;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 2rem;
  height: 200px;
  display: flex;
  align-items: center;
}

.container-slider p {
  margin: 0;
}

.carousel-control-prev {
  left: 100px;
}

.carousel-control-next {
  right: 100px;
}

.conteudo-por-cima {
  margin-top: -50px;
}

/* BENEFICIOS */
.beneficios {
  background-color: #ffffff;
  padding: 2rem 0 2rem;
}

.beneficios h1{
    color: #D94169;
    font-size: clamp(22px, 4vw, 36px);
    text-transform: uppercase;
    font-weight: bold;
}

/********** MOBILE ***************/

@media (max-width: 768px) {
  .slider {
    height: 600px;
  }
  .container-slider {
    margin: 1rem 3rem;
    height: auto;
  }

  .conteudo-por-cima {
    margin-top: -40px;
  }
}

@media (max-width: 584px) {
  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }
}
